@import url("https://fonts.googleapis.com/css?family=Alegreya+SC|Arbutus+Slab|Bree+Serif|Cinzel|Cormorant+Garamond|Crete+Round|DM+Serif+Text|Domine|Nanum+Myeongjo|Neuton|Playfair+Display+SC|Solway|Ultra|Vidaloka|Zilla+Slab&display=swap");


*,
*::before,
*::after {
 padding: 0;
 margin: 0;
 box-sizing: inherit;
}

/* Root Variables */

:root {
 /* fonts */

 --bree-serif: "Bree Serif", serif;
 --solway-serif: "Solway", serif;
 --crete-round: "Crete Round", serif;
 --domine-serif: "Domine", serif;
 --cinzel-serif: "Cinzel", serif;
 --cormorant-garamond: "Cormorant Garamond", serif;
 --zilla-slab: "Zilla Slab", serif;
 --nanum-serif: "Nanum Myeongjo", serif;
 --vidaloka: "Vidaloka", serif;
 --neuton: "Neuton", serif;
 --playfair: "Playfair Display SC", serif;
 --ultra-serif: "Ultra", serif;
 --arbutus-slab: "Arbutus Slab", serif;
 --dm-serif: "DM Serif Text", serif;
 --alegreya: "Alegreya SC", serif;

 /* Coolors */

 --mellow-yellow: #f3e37c;
 --sandstorm: #f3d34a;
 --neon-carrot: #eea243;
 --neon-carrot2: #f3a738;
 --tuscan: #f1d9a7;
 --tuscanny: #c89f9c;
 --copper-penny: #b36a5e;
 --platinum: #eee2df;
 --sasquatch: #ff4d80;
 --coral-red: #ff3e41;
 --deep-cerise: #df367c;
 --burgundy: #780116;
 --flame: #d8572a;
 --int-orange: #c32f27;
 --jet: #3a3335;
 --dog-rose: #d81e5b;
 --papaya-whip: #fdf0d5;
 --catawba: #773344;
 --pastel-pink: #e3b5a4;
 --alabaster: #f5e9e2;
 --maastricht-blue: #022b3a;
 --metal-sea: #1f7a8c;
 --pale-aqua: #bfdbf7;
 --rich-maroon: #b8336a;
 --gray-magenta: #c490d1;
 --blu-purple: #acacde;
 --white: #ffffff;
 --orange: #DE7C01;
 --light-blue: #0090D9;
 --green: #00B298;
 --black: #000;
}

/* Universal styles */

html {
 font-size: 10px;
 box-sizing: border-box;
}

a {
 text-decoration: none;
}

ul {
 list-style: none;
}

img {
 width: 100%;
 max-width: 100%;
 height: auto;
}

p {
 font-size: 1.6rem;
}

.btn {
 border-radius: 2rem;
 padding: 1rem 2rem;
 background-color: var(--catawba);
 color: var(--white);
 font-size: .9rem;
 font-weight: 400;
 display: inline-block;
 margin-top: 3rem;
 text-transform: uppercase;
 letter-spacing: .2rem;
 transition: 420ms ease;
}

.btn:hover {
 background-color: var(--maastricht-blue);
}

section {
 padding: 5rem 0;
}

body {
 font-family: var(--crete-round);
}


/* Header */

header {
 width: 100%;
 height: 7.7rem;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}

.container {
 width: 100%;
 max-width: 98rem;
 padding: 0 1.5rem;
 margin: 0 auto;
}

nav {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 1rem;
}

.nav__brand {
 width: 15rem;
}

.menu__icons {
 font-size: 3.5rem;
 color: var(--white);
 cursor: pointer;
 transition: 420ms ease;
}

.menu__icons:hover {
 color: var(--catawba);
}

.nav__list {
 width: 25rem;
 height: 100vh;
 background: var(--white);
 box-shadow: -2px 0px 10px 1px #aaaaaa;
 position: fixed;
 top: 0;
 right: -26rem;
 opacity: 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 transition: all 630ms ease-in-out, opacity 810ms ease;
 z-index: 1300;
}

.nav__list.active {
 right: 0;
 opacity: 1;
}

.nav__item {
 margin: 1.5rem 0;
}

.nav__link {
 font-size: 1.6rem;
 text-transform: uppercase;
 color: var(--maastricht-blue);
 transition: 420ms ease;
}

.nav__link:hover {
 color: var(--catawba);
}

.close {
 color: var(--maastricht-blue);
 position: absolute;
 top: 2rem;
 left: 2rem;
}

@media screen and (min-width: 600px) {

 .nav__list {
  width: initial;
  height: initial;
  background: transparent;
  box-shadow: initial;
  position: initial;
  top: initial;
  right: initial;
  opacity: initial;
  flex-direction: row;
  transition: initial;
 }

 .nav__link {
  color: var(--white);
  margin: 0 2rem;
 }

 .menu__icons {
  display: none;
 }

}

/* Hero */

#hero {
 width: 100%;
 height: 80vh;
 background: linear-gradient(135deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%), url('../img/boardwalk.jpeg') center no-repeat;
 background-size: cover;
 position: relative;
}

.main__message {
 width: 100%;
 max-width: 50rem;
 text-transform: uppercase;
 color: var(--white);
 transform: translateY(20%);
}

.main__message h3 {
 font-size: 2rem;
}

.main__message h1 {
 font-size: 4rem;
 margin: 1rem 0;
}

.main__message p {
 text-transform: lowercase;
}

/* Activities Grid */

#activities {
 padding: 0;
}

.activities__heading {
 width: 100%;
 padding: 2rem 1rem;
 text-align: center;
 margin: 0 auto;
}

.activities__heading h3 {
 font-size: 1.6rem;
}

.activities__heading h1 {
 font-size: 2rem;
 margin: 1rem;
}

.activities__heading p {
 font-size: 1.4rem;
}

.activities__grid {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
 grid-gap: 2.5rem;
}

.activities__grid__item {
 padding: 5rem;
 height: 40rem;
 border-radius: 2rem;
 color: var(--neon-carrot2);
 display: flex;
 flex-direction: column;
 justify-content: center;
 cursor: pointer;
 position: relative;
 z-index: 1;
}

.activities__grid__item::before {
 content: "";
 border-radius: 2rem;
 background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
 position: absolute;
 top: 0;
 right: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
}

.star__gazing {
 background: url('../img/heart-green.jpg') center no-repeat;
}

.hiking {
 background: url('../img/heart-green.jpg') center no-repeat;
}

.camping {
 background: url('../img/heart-green.jpg') center no-repeat;
}

.activities__grid__item i {
 font-size: 4rem;
 color: var(--catawba);
}

.activities__grid__item h1 {
 font-size: 2rem;
 margin: 1rem 0;
}

.activities__grid__item p {
 font-size: 1.4rem;
}

.read__btn {
 border-radius: .2rem;
 width: 100%;
 max-width: 12rem;
 background-color: var(--pale-aqua);
 color: var(--white);
 text-align: center;
 display: inline-block;
 margin-top: 1rem;
 padding: .8rem 1.6rem;
 font-size: .9rem;
 letter-spacing: .2rem;
 text-transform: uppercase;
 transition: 420ms ease;
}

.read__btn:hover {
 background-color: transparent;
 border: 1px solid var(--white);
}

/* Cards Section */

#cards {
 padding: 0;
}

.cards__heading {
 width: 100%;
 padding: 5rem 1rem;
 text-align: center;
 margin: 0 auto;
}

.cards__heading h3 {
 font-size: 2rem;
}

.cards__heading h1 {
 font-size: 3rem;
 margin: 2rem 0;
}

.cards__list {
 margin: -1rem;
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
}

.cards__item {
 padding: 1.5rem;
 flex-basis: 50%;
}

.cards__img {
 background: var(--white);
 box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.3);
}

@media screen and (min-width: 698px) {
 .cards__item {
  flex-basis: 20%;
 }
}

/* Courses Section */

#courses {
 padding: 0;
}

.courses__heading {
 width: 100%;
 padding: 2rem;
 text-align: center;
 margin: 0 auto;
}

.courses__heading h1 {
 font-size: 3rem;
}

.courses__heading p {
 padding: 2rem 0;
}

.courses__item {
 width: 100%;
 height: 25rem;
 color: var(--white);
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.courses__item h1 {
 font-size: 2.5rem;
}

.courses__item h3 {
 font-size: 2rem;
 margin: 1rem;
}

.courses__item p {
 font-size: 1.4rem;
 margin: 1rem;
}

.courses__btn {
 border-radius: .2rem;
 padding: .8rem 1.6rem;
 width: 100%;
 max-width: 12rem;
 font-size: 1.2rem;
 background-color: transparent;
 color: var(--white);
 border: 1px solid var(--white);
 display: inline-block;
 margin-top: 2rem;
 transition: 420ms ease;
}

.courses__btn:hover {
 background-color: var(--white);
 color: var(--black);
}

.onsite {
 background: var(--orange);
}

.remote {
 background: var(--light-blue);
}

.remote__pt {
 background: var(--green);
}

@media screen and (min-width: 900px) {
 .courses {
  display: flex;
  flex-direction: row;
 }

 .remote {
  max-width: 45rem;
 }
}